<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
      <ion-menu-button
        slot="icon-only"
        color="primary"
        menu="primeiro"
      ></ion-menu-button>
    </ion-buttons>

    <ion-title text-capitalize>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!--  <ion-list>
    <ion-item *ngFor="let c of componentes | async" [routerLink]="c.link" detail>
      <ion-icon [name]="c.icone" slot="start"></ion-icon>
      <ion-label> {{c.nome}} </ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>
