<app-header [titulo]="titulo || 'Página de Alerta'"></app-header>

<ion-content>

  <ion-button color="primary" expand="full" (click)="presentAlert()">
    Mensagem
  </ion-button>


  <ion-button color="primary" expand="full" (click)="presentAlertConfirm()">
    Mensagem de Confirmação
  </ion-button>

  <ion-button color="primary" expand="full" (click)="presentAlertPrompt()">
    Mensagem com Prompt
  </ion-button>

  <ion-button color="primary" expand="full" (click)="presentInput()">
    Mensagem com Input
  </ion-button>

</ion-content>
